*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

.amount-text{
    margin: 10px 0;
}

form{
    margin: 2rem 1 2rem 0;
}

form, select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.select-container img{
    font-size: 1.7rem;
    max-width: 3rem;
    margin: 0 40px;
}

.select-container select{
    border: 1px solid lightgray;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.msg{
    margin: 2rem 0 2rem 0 ;
    font-weight: bold;
}

form button{
    font-size: 1rem;
    height: 2rem;
    background-color: rgb(56, 55, 55);
    color: white;
    cursor: pointer;
}

.changeIt{
    cursor: pointer;
}